.ytpbsi-speed {
    position: absolute;
    top: 60px;
    left: 10px;
    text-shadow: 0 0 1px #000;
    color: #eee;
    z-index: 1000;
    padding: 0px 10px;
    font-size: 150%;
    background-color: #131313;

 }

.ytp-fullscreen .ytpbsi-speed
{
    top: 60px;
 }


.ytp-autohide .ytpbsi-speed,
.ytp-hide-info-bar .ytpbsi-speed
{
    top: 10px;
 }

